<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
       <li><%= link_to 'HOME', root_path %></li>
       <li><%= link_to 'ABOUT', pages_about_path %></li>
       <li><%= link_to 'CONTACT', pages_contact_path %></li>
       <li><%= link_to 'RESUME', pages_resume_path %></li>
      </ul> 
        
      <ul class="nav navbar-nav navbar-right">
        <a class="navbar-brand">VAIBHAV GUPTA</a>
      </ul>
    </div>
  </div>
</nav>
<body style="background-color:#bababa">
	<div class = "container">
		<div class="jumbotron" style="background-color:#fff;margin-top:10%">
  			<h2 style="color:#969696;font-family: 'Lato-Regular', sans-serif">About Me</h2>
  				<p style="color:#969696">I am a Multimedia Specialist and Video Game designer based of the former French colony of Pondicherry in India. I have lived in London for over two years, before returning to India in 2015 for a knee surgery following a motorcycle accident and to work on my own Video game start-up.<br /><br />
				I graduated in 2013 with a Bachelors in Computer Science and Engineering from Pondicherry University in India and in 2014 with a Masters in Video Game Development (Distinction) from Kingston University, London.<br /><br />
				My work at Kingston University during my masters involved my writing a paper on Narratology vs Ludology in Military simulators, in collaboration with Prof. Stephen J. Webley of Staffordshire University. I also worked with a team of students on Heroes of Meteropia, a game and a concept for the PSVITA which produced a tactile physical reward in the form of a Comic book of the user’s journey through the game. For my final project, I worked on the redesign and reboot of James Bond video games and my game 007 Elixir, which led to the completion of my degree with a distinction.<br /><br />
				</p>
				<h2 style="color:#969696;font-family: 'Lato-Regular', sans-serif">Work History</h2>
  				<p style="color:#969696">I am the co-founder of Whiteraven Media Corp, a Digital media start up currently based of Bangalore in India. I am the lead video game designer at Whiteraven, where we are currently working on an untitled high end art and animation game based of the successful Ori and the Blind forest. <br /><br />
				My work prior to Whiteraven involved my working as an android application developer for Sunshine Concessions, based in Colorado, USA. I successfully studied their business practices and developed the Sunshine Point of sale system which is currently used by their business across the USA.<br /><br />
				On passing out from Kingston University in 2014, I worked as a Research and Teaching assistant at the university, where I assisted in teaching Theoretical Video Game studies, Digital Studio Practice, Business Analysis solutions and 3D modelling. I presented on occasion about Theoretical Game studies and design and Psychoanalysis of Video games.<br /><br />
				I have over two years of Video game development, UI and UX design experience across various organisations and projects.<br />
				</p>
				<h2 style="color:#969696;font-family: 'Lato-Regular', sans-serif">Other Work</h2>
  				<p style="color:#969696">I am a recognised photographer and have worked in the past on Lonely Planet and National Geographic assignments in Baltistan, in the Himalayas.<br /><br />
				I am very passionate about designing video games and my pet project is a video game I am working on which is based on Fluid translation across glass surfaces. I have been working on this project with a psychology researcher from Cambridge and we are working on using this concept as a tool to stimulate parts of the human brain and in turn as an application to work on reducing the onset of Alzheimer’s disease.<br />
				</p> 
  		</div>
	</div>
</body>
