@font-face {
	font-family: 'MammaGamma';
	src:font-url('MammaGamma.ttf') format('truetype');
}
@font-face {
	font-family: 'VertigoFLF';
	src:font-url('VertigoFLF.ttf') format('truetype');
}
@font-face {
	font-family: 'Lato-Thin';
	src:font-url('Lato-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'Lato-Light';
	src:font-url('Lato-Light.ttf') format('truetype');
}