.box {
  width: 700px;
  border-radius: 0;
  background-color: #fff;
 }

.box img {
  width: 100%;
}

#profile
{
	float: left;
	margin-top: -30px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0;

}

.project-image1 img
{
   -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
    animation: fadein 3s;
}


.project-image2 img
{
    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 5s; /* Firefox < 16 */
    -ms-animation: fadein 5s; /* Internet Explorer */
    -o-animation: fadein 5s; /* Opera < 12.1 */
    animation: fadein 5s;
}

.project-image3 img
{
    -webkit-animation: fadein 7s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 7s; /* Firefox < 16 */
    -ms-animation: fadein 7s; /* Internet Explorer */
    -o-animation: fadein 7s; /* Opera < 12.1 */
    animation: fadein 7s;
}

.project-image4 img
{
    -webkit-animation: fadein 9s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 9s; /* Firefox < 16 */
    -ms-animation: fadein 9s; /* Internet Explorer */
    -o-animation: fadein 9s; /* Opera < 12.1 */
    animation: fadein 9s;
}

.project-image5 img
{
    -webkit-animation: fadein 11s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 11s; /* Firefox < 16 */
    -ms-animation: fadein 11s; /* Internet Explorer */
    -o-animation: fadein 11s; /* Opera < 12.1 */
    animation: fadein 11s;
}

.project-image6 img
{
    -webkit-animation: fadein 13s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 13s; /* Firefox < 16 */
    -ms-animation: fadein 13s; /* Internet Explorer */
    -o-animation: fadein 13s; /* Opera < 12.1 */
    animation: fadein 13s;
}

#profile img
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	width:100%;
	height: auto;
	margin-bottom: -30px
}


.project1 img
{
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
    
}


.project2 img
{
	-webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
    animation: fadein 3s;
    
}

.project3 img
{
	-webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 5s; /* Firefox < 16 */
    -ms-animation: fadein 5s; /* Internet Explorer */
    -o-animation: fadein 5s; /* Opera < 12.1 */
    animation: fadein 5s;
    
}

.project4 img
{
	-webkit-animation: fadein 7s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 7s; /* Firefox < 16 */
    -ms-animation: fadein 7s; /* Internet Explorer */
    -o-animation: fadein 7s; /* Opera < 12.1 */
    animation: fadein 7s;
    
}


